NEWS_API_KEY=
LOCAL_SUMMARIZER_MODEL=sshleifer/distilbart-cnn-12-6
LOCAL_SUMMARIZER_MAX_LENGTH=90
LOCAL_SUMMARIZER_MIN_LENGTH=35
LOCAL_SUMMARIZER_INPUT_MAX_TOKENS=1024
ARTICLE_NOTE_MAX_LENGTH=60
ARTICLE_NOTE_MIN_LENGTH=20
